[Unit]
Description=btkeyboard
Requires=bluetooth.service
After=bluetooth.service

[Service]
Type=forking
PIDFile=
ExecStart=/home/pi/PIBtKeyboard/start.sh -i
ExecReload=
ExecStop=/home/pi/PIBtKeyboard/stop.sh
PrivateTmp=true
LimitNICE=1

[Install]
WantedBy=multi-user.target