[Unit]
Description=btkeyboard
Requires=
After=

[Service]
Type=forking
PIDFile=
ExecStart=/home/pi/PIBtKeyboard/start.sh
ExecReload=
ExecStop=
PrivateTmp=true

[Install]
WantedBy=multi-user.target