[Unit]
Description=btkeyboard
Requires=bluetooth.service dhcpcd.service
After=bluetooth.service dhcpcd.service

[Service]
Type=forking
PIDFile=
ExecStart=/home/pi/PIBtKeyboard/start.sh
ExecReload=
ExecStop=
PrivateTmp=true

[Install]
WantedBy=multi-user.target